.dropdown-menu.show{
    left:auto !important;
}
.navbar {
    border-bottom: 1px solid #d7cdcd;
}

.navbar a, .dropdown-menu a .fa{
    color: #351681;
    font-weight: 500;
    margin-right: 10px;
}
.navbar a:hover,.navbar .dropdown-item:hover,.navbar .dropdown-item .fa:hover{
    color:red;
}
.dropdown-item:active,.dropdown-item:hover {
    background-color: #dfe1e3;
}


