<div class="container-fluid">
    <div class="col-md-12 component-header">
        <div class="row">
            <div class="col-md-4">
                <span class="table-header-items">Exams</span>
            </div>
            <div class="col-md-8 text-right">
                <button pButton type="button" icon="pi pi-filter" label="Filters"
                    class="ui-button-secondary table-header-items" (click)="toggleClass($event)"></button>&nbsp;
                <button pButton type="button" icon="pi pi-plus" label="Exam"
                    class="ui-button-secondary table-header-items" (click)="addNew($event)"></button>
            </div>
        </div>
    </div>
    <form [formGroup]="filtersForm" (ngSubmit)="filterSubmit()">
        <div #myFiltersDiv class="col-md-12 box transform">
            <div class="row search-box search-box-padding">
                <div class="col-md-3">
                    <span>Title</span><br>
                    <input id="title" #tt class="w-100" type="text" formControlName="ttitle" placeholder="Title"
                        size="30" (keydown)="$event.key === 'Enter' ? dt.filter(tt.value,'title',''): ''" pInputText>
                </div>
                <div class="col-md-3">
                    <span>Year</span><br>
                    <p-calendar placeholder="Select Year" view="month" dateFormat="mm/yy" [yearNavigator]="true"
                        yearRange="2000:2030" formControlName="tyear" [inputStyle]="{'width':'100% !important'}"
                        [showIcon]="true">
                    </p-calendar>
                </div>
                <div class="col-md-3">
                    <span>Classes</span><br>
                    <p-multiSelect [options]="classes" formControlName="tClasses" placeholder="Select Classes"
                        (onChange)="multiselectSearch($event,'class_id')" class="w-100">
                    </p-multiSelect>
                </div>
                <div class="col-md-3">
                    <span>Created On</span><br>
                    <p-calendar #td placeholder="Select Date" formControlName="tcreateddate" (onSelect)="dt.filter(getFilterFormat(td.value),'createddate','')"
                        [inputStyle]="{'width':'100% !important'}" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-md-3">
                    <span>Created by</span><br>
                    <p-dropdown [options]="usertypes" class="w-100" formControlName="tcreatedby" placeholder="Select User Type" 
                        ></p-dropdown>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3 text-right search-buttons">
                    <button pButton type="submit" icon="pi pi-search" label="Search"
                        class="ui-button-secondary table-header-items"></button>&nbsp;
                    <button pButton type="button" icon="pi pi-refresh" label="Clear" (click)="resetFilterForm()"
                        class="ui-button-secondary table-header-items"></button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-12 error-block animated fadeIn" *ngIf="errorMessage">
        <div class="col-md-12">
            <i class="fa fa-exclamation-circle"></i>
            <b>{{errorMessage}}</b>
        </div>
    </div>
    <div class="col-md-12 success-block animated fadeIn" *ngIf="successMessage">
        <div class="col-md-12">
            <i class="fa fa-check"></i>
            <b>{{successMessage}}</b>
        </div>
    </div>

    <div class="col-md-12 search-box">
        <p-table #dt [columns]="cols" [value]="exams" [lazy]="true" rowExpandMode="single" dataKey="id"
            [paginator]="true" [responsive]="true" [rows]="numberOfPages" (onLazyLoad)="onPageChange($event)"
            [totalRecords]="totalcount" [rowsPerPageOptions]="[10,20,30,40,50]" [reorderableColumns]="true"
            (onRowExpand)="rowExpand($event,dt)">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:2.5em"></th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn
                        style="width: 20% !important;">
                        <div class="">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" style="float:right"></p-sortIcon>
                        </div>
                    </th>
                    <th style="width:5em"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                <tr>
                    <td>
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                    </td>
                    <td *ngFor="let col of columns">
                        <div class="" *ngIf="col.field == 'createddate'">
                            <a class="bold" (click)="viewExam(rowData.id)">{{getFormat(rowData.createddate)}}</a>
                        </div>
                        <div class="" *ngIf="col.field != 'createddate'">
                            <div class="class" *ngIf="col.field != 'status'">
                                <div *ngIf="col.field == 'classes'">
                                    <span class="tableRowData" *ngFor="let datavalue of rowData[col.field]">
                                        <li>
                                            {{datavalue.label}}
                                        </li>
                                    </span>
                                </div>
                                <div *ngIf="col.field != 'classes'">
                                    <a class="bold" (click)="viewExam(rowData.id)">{{rowData[col.field]}}</a>
                                </div>
                            </div>
                            <div class="class" *ngIf="col.field == 'status'">
                                <div class="" *ngIf="rowData.status == 'AC'">
                                    <button class="btn btn-success">Active</button>
                                </div>
                                <div class="" *ngIf="rowData.status == 'NA'">
                                    <button class="btn btn-danger">Not Active</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                        <i class="pi pi-pencil" (click)="editExam(rowData.id)"></i>&nbsp;
                        <i class="pi pi-trash" (click)="deleteExam(rowData.id)"></i>
                        
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr class="expansion-div clienttable">
                    <td [attr.colspan]="columns.length + 2">
                        <div class="ui-fluid" [@rowExpansionTrigger]="'active'">
                            <div class="row col-md-12">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                            <p-table #es [columns]="ewscols" [value]="examwisesubjects" [lazy]="true"
                                rowExpandMode="single" [paginator]="true" [responsive]="true" [rows]="numberOfPages"
                                [totalRecords]="totalcount" [reorderableColumns]="true" dataKey="classname">
                                <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn
                        style="width: 20% !important;">
                        <div class="">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" style="float:right"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowIndex="rowIndex" let-rowData let-columns="columns"
                let-expanded="expanded">
                <tr>
                    <td *ngFor="let col of columns">
                        <a class="bold">{{rowData[col.field]}}</a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
        <div class="col-md-3"></div>
    </div>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
    <!-- pagination div starts from here -->
    <div class="col-md-12">
        <div class="pagecount-dropdown">
            <span class="pagecounting">Items per page</span>
        </div>
        <div class="pagecount">
            <div *ngIf="dt.totalRecords != 0">
                {{dt.first+1}}-{{((dt.first+dt.rows)>dt.totalRecords)?dt.totalRecords:(dt.first+dt.rows)}} of
                {{dt.totalRecords}}
                Items
            </div>
            <div *ngIf="dt == undefined || dt.totalRecords==0">No Items to Display</div>
        </div>
    </div>
    <!-- pagination div ends here -->
</div>

<p-dialog header="Delete Confirmation" [transitionOptions]="'500ms'" [baseZIndex]="20000" [(visible)]="display"
    [style]="{width: '30vw'}" [responsive]="true" [draggable]="true" [position]="position">
    <p>Are you sure you want to delete Exam?</p>
    <p-footer class="btm-buttons">
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="examRevoke()"></button>
        <button type="button" pButton icon="pi pi-times" (click)="display=false" label="No"></button>
    </p-footer>
</p-dialog>