body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.expansion-div  .ui-table .ui-paginator-bottom {
    border-top: 0 !important;
    margin-top: 3px !important;
    background-color: #fff !important;
    padding-left: 0px !important;
    float: inherit !important;
    background: linear-gradient(180deg, #efefee 0, #efefee) !important;
}