<div class="container-fluid p-1 footer-div">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 text-center li1"><a href="#"><b>Contact Us</b></a> </div>
                <div class="col-md-4 text-center li2"><a href="#"><b>Privacy Policy</b></a></div>
                <div class="col-md-4 text-center"><a href="#"><b>Terms of Use</b></a> </div>
            </div>
            <div class="copy_right text-center">
                <span>copyright © 2020 CTS Pvt. Ltd.,</span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>