<div class="container-fluid">
 <div class="col-md-12 component-header">
    <div class="row">
        <div class="col-md-4">
            <span class="table-header-items">{{pageTitle}}</span>
        </div>
    </div>
</div>
<div class="col-md-12 error-block animated fadeIn" *ngIf="errorMessage">
    <div class="col-md-12">
        <i class="fa fa-exclamation-circle"></i>
        <b>{{errorMessage}}</b>
    </div>
</div>
<div class="col-md-12 success-block animated fadeIn" *ngIf="successMessage">
    <div class="col-md-12">
        <i class="fa fa-check"></i>
        <b>{{successMessage}}</b>
    </div>
</div>

<form [formGroup]="addAchievementForm" class="col-md-12" (ngSubmit)="addAchievementSubmit()">
    <div class="col-md-12 error-block animated fadeIn" *ngIf="(!addAchievementForm.valid && formSubmitAttempt)">
        <div class="col-md-12">
            <i class="fa fa-exclamation-triangle"></i>
            <b>Please correct the following error(s):</b>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 error-div" *ngIf="((!addAchievementForm.controls['title'].valid && addAchievementForm.controls['title'].touched)|| 
                                (!addAchievementForm.controls['title'].valid && addAchievementForm.controls['title'].untouched && 
                                formSubmitAttempt))">
                            <i class="fa fa-circle"></i>
                            <span *ngIf="(addAchievementForm.controls['title'].errors?.required)">Enter "Title"</span>
                            <span *ngIf="(!addAchievementForm.controls['title'].errors?.required && 
                                addAchievementForm.controls['title'].errors?.pattern)">Enter
                                Valid "Title"</span>
                        </div>
                        <div class="col-md-3 error-div"
                            *ngIf="((!addAchievementForm.controls['date'].valid && addAchievementForm.controls['date'].touched)|| 
                                (!addAchievementForm.controls['date'].valid && addAchievementForm.controls['date'].untouched && formSubmitAttempt))">
                            <i class="fa fa-circle"></i>
                            <span *ngIf="(addAchievementForm.controls['date'].errors?.required)">Enter "Date"</span>
                        </div>
                        <div class="col-md-3 error-div"
                            *ngIf="((!addAchievementForm.controls['branchid'].valid && addAchievementForm.controls['branchid'].touched)|| 
                                (!addAchievementForm.controls['branchid'].valid && addAchievementForm.controls['branchid'].untouched && formSubmitAttempt))">
                            <i class="fa fa-circle"></i>
                            <span *ngIf="(addAchievementForm.controls['branchid'].errors?.required)">Enter "Branch Id"</span>
                        </div>
                        <div class="col-md-3 error-div"
                        *ngIf="((!addAchievementForm.controls['status'].valid && addAchievementForm.controls['status'].touched)|| 
                            (!addAchievementForm.controls['status'].valid && addAchievementForm.controls['status'].untouched && formSubmitAttempt))">
                        <i class="fa fa-circle"></i>
                        <span *ngIf="(addAchievementForm.controls['status'].errors?.required)">Enter "Status"</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row search-box search-box-padding form-block">
        <div class="col-md-4">
            <span>
                Title
            </span><br>
            <input id="input" maxlength="45" class="w-100" [attr.disabled]="isDisabled ? 'disabled': null"
                formControlName="title" type="text" placeholder="Title" size="30" pInputText [ngClass]="{'error':((!addAchievementForm.controls['title'].valid && addAchievementForm.controls['title'].touched) || 
                    (!addAchievementForm.controls['title'].valid && addAchievementForm.controls['title'].untouched && 
                    formSubmitAttempt)),'required':(isRequired == true )}">
        </div>
        <div class="col-md-4">
            <span>Date Of Achievement</span><br>
            <p-calendar placeholder="Select Date" [disabled]="isDisabled" formControlName="date"
                [inputStyle]="{'width':'100% !important'}" [showIcon]="true"
                [ngClass]="{'error':((!addAchievementForm.controls['date'].valid && addAchievementForm.controls['date'].touched) || (!addAchievementForm.controls['date'].valid && addAchievementForm.controls['date'].untouched && formSubmitAttempt)),'required':(isRequired == true )}">
            </p-calendar>
        </div>
        <div class="col-md-4">
            <span>Branch Id</span><br>
                    <p-dropdown [options]="branches" filter="true" formControlName="branchid"
                    placeholder="Select BranchId" class="required" [disabled]="isDisabled"
                    [ngClass]="{'error':((!addAchievementForm.controls['branchid'].valid && addAchievementForm.controls['branchid'].touched) || (!addAchievementForm.controls['branchid'].valid && addAchievementForm.controls['branchid'].untouched && formSubmitAttempt)),'required':(isRequired == true )}">
                </p-dropdown>
        </div>
        <div class="col-md-4">
            <span>Status</span><br>
            <p-dropdown [options]="status" filter="true" formControlName="status" [disabled]="isDisabled"
                placeholder="Select Status" [ngClass]="{'error':((!addAchievementForm.controls['status'].valid &&
                addAchievementForm.controls['status'].touched) || 
            (!addAchievementForm.controls['status'].valid && addAchievementForm.controls['status'].untouched && formSubmitAttempt)),
            'required':(isRequired == true )}">
            </p-dropdown>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <br>
        <br>
        <br>
        <div class="col-md-4  required-block">
            <span class="required" *ngIf="this.formType == 'create' || this.formType == 'edit'">
                <span class="requirednote">Required</span>
            </span>
        </div>
        <div class="col-md-8 text-right">
            <button pButton type="button" icon="pi pi-check" label="Edit" *ngIf="isDisabled" (click)="editControls()"
                class="ui-button-secondary table-header-items"></button>&nbsp;
            <button pButton type="submit" icon="pi pi-check" label="Submit" *ngIf="!isDisabled"
                class="ui-button-secondary table-header-items"></button>&nbsp;
            <button pButton type="button" icon="pi pi-refresh" label="Clear" *ngIf="!isDisabled" (click)="resetForm()"
                class="ui-button-secondary table-header-items"></button>&nbsp;
            <button pButton type="button" icon="pi pi-times" label="Cancel" (click)="list()"
                class="ui-button-secondary table-header-items"></button>
        </div>
    </div>
</form>
</div>