<div class="container-fluid">
    <div class="col-md-12 component-header">
        <div class="row">
            <div class="col-md-4">
                <span class="table-header-items">Change Password</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 error-block animated fadeIn" *ngIf="errorMessage">
        <div class="col-md-12">
            <i class="fa fa-exclamation-circle"></i>
            <b>{{errorMessage}}</b>
        </div>
    </div>
    <div class="col-md-12 success-block animated fadeIn" *ngIf="successMessage">
        <div class="col-md-12">
            <i class="fa fa-check"></i>
            <b>{{successMessage}}</b>
        </div>
    </div>

    <form [formGroup]="changePasswordForm" class="col-md-12" (ngSubmit)="changePwdSubmit()">
        <div class="col-md-12 error-block animated fadeIn" *ngIf="(!changePasswordForm.valid && formSubmitAttempt)">
            <div class="col-md-12">
                <i class="fa fa-exclamation-triangle"></i>
                <b>Please correct the following error(s):</b>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 error-div" *ngIf="((!changePasswordForm.controls['oldPassword'].valid && 
                                changePasswordForm.controls['oldPassword'].touched)|| (!changePasswordForm.controls['oldPassword'].valid && 
                                changePasswordForm.controls['oldPassword'].untouched && 
                                 formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(changePasswordForm.controls['oldPassword'].errors?.required)">Enter "Old
                                    Password"</span>
                                    <span *ngIf="(changePasswordForm.controls['oldPassword'].errors?.pattern)">Enter Valid "Old
                                        Password"</span>
                            </div>
                            <div class="col-md-3 error-div" *ngIf="((!changePasswordForm.controls['newPassword'].valid && 
                                changePasswordForm.controls['newPassword'].touched)|| (!changePasswordForm.controls['newPassword'].valid && 
                                changePasswordForm.controls['newPassword'].untouched && 
                                 formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(changePasswordForm.controls['newPassword'].errors?.required)">Enter "New
                                    Password"</span>
                                    <span *ngIf="(changePasswordForm.controls['newPassword'].errors?.pattern)">Enter Valid "New
                                        Password"</span>
                                        <span *ngIf="(changePasswordForm.controls['newPassword'].errors.samePasswordValidator)">
                                            Old Password and New Password should not be same
                                        </span>
                            </div>
                            <div class="col-md-3 error-div" *ngIf="((!changePasswordForm.controls['confirmPassword'].valid && 
                                changePasswordForm.controls['confirmPassword'].touched)|| (!changePasswordForm.controls['confirmPassword'].valid && 
                                changePasswordForm.controls['confirmPassword'].untouched && 
                                 formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(changePasswordForm.controls['confirmPassword'].errors.required)">Enter "Confirm
                                    Password"</span>
                                    <span *ngIf="(changePasswordForm.controls['confirmPassword'].errors.pattern)">Enter Valid "Confirm
                                        Password"</span>
                                        <span *ngIf="(changePasswordForm.controls['confirmPassword'].errors.confirmPasswordValidator)">New Passsword and
                                            Confirm Password didn't match. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row search-box search-box-padding form-block">
            <div class="col-md-6">
                <div class="col-md-12">
                    <span>Old Password</span><br>
                    <input type="text" class="w-100" disabled="true" class="required" placeholder="Enter Old Password" formControlName="oldPassword" pPassword 
                    [ngClass]="{'error':((!changePasswordForm.controls['oldPassword'].valid && 
                    changePasswordForm.controls['oldPassword'].touched) || (!changePasswordForm.controls['oldPassword'].valid && 
                    changePasswordForm.controls['oldPassword'].untouched && formSubmitAttempt))}">
                </div>
                <div class="col-md-12">
                    <span>New Password</span><br>
                    <input type="text" class="w-100" class="required" placeholder="Enter New Password" formControlName="newPassword" pPassword
                    [ngClass]="{'error':((!changePasswordForm.controls['newPassword'].valid && 
                    changePasswordForm.controls['newPassword'].touched) || (!changePasswordForm.controls['newPassword'].valid && 
                    changePasswordForm.controls['newPassword'].untouched && formSubmitAttempt))}">
                </div>
                <div class="col-md-12">
                    <span>Confirm Password</span><br>
                    <input type="text" class="w-100" class="required" placeholder="Enter Confirm Password" formControlName="confirmPassword" pPassword 
                    [ngClass]="{'error':((!changePasswordForm.controls['confirmPassword'].valid && 
                    changePasswordForm.controls['confirmPassword'].touched) || (!changePasswordForm.controls['confirmPassword'].valid && 
                    changePasswordForm.controls['confirmPassword'].untouched && formSubmitAttempt))}">
                </div>
            </div>
            <div class="col-md-6 pt-lg-3">
                <h6 class="yellow"><u>Minimum Password Requirements</u></h6>
                <p>Password must contain a minimum of eight(8) characters AND include each of the following :</p>
                <ul>
                    <li>An upper case letter (A)</li>
                    <li>A lower case letter (a)</li>
                    <li>A number (0-9)</li>
                    <li>A special character !@#$%^&*()_+</li>
                </ul>
            </div>
            <br>
            <br>
            <br>
            <div class="col-md-4  required-block">
                <div class="col-md-12">
                    <span class="required">
                        <span class="requirednote">Required</span>
                    </span>
                </div>
            </div>
            <div class="col-md-8 text-right">
                <button pButton type="button" icon="pi pi-angle-left" label="Back" (click)="list()"
                    class="ui-button-secondary table-header-items"></button>&nbsp;
                <button pButton type="submit" icon="pi pi-check" label="Submit"
                    class="ui-button-secondary table-header-items"></button>&nbsp;
            </div>
        </div>
    </form>
</div>