<div class="container-fluid">
    <div class="col-md-12 component-header">
        <div class="row">
            <div class="col-md-4">
                <span class="table-header-items">Users</span>
            </div>
            <div class="col-md-8 text-right">
                <button pButton type="button" icon="pi pi-filter" label="Filters"
                    class="ui-button-secondary table-header-items" (click)="toggleClass($event)"></button>&nbsp;
                <button pButton type="button" icon="pi pi-plus" label="Users" (click)="addNew($event)"
                    *ngIf="checkPermissions('ADD')" class="ui-button-secondary table-header-items"></button>
            </div>
        </div>
    </div>
    <form [formGroup]="filtersForm" (ngSubmit)="filterSubmit()">
        <div #myFiltersDiv class="col-md-12 box transform">
            <div class="row search-box search-box-padding">
                <div class="col-md-3">
                    <span>User Name</span><br>
                    <input id="user" #un class="w-100" type="text" formControlName="tuserName" placeholder="User Name"
                        size="30" (keydown)="$event.key === 'Enter' ? dt.filter(un.value,'username',''): ''" pInputText>
                </div>
                <div class="col-md-3">
                    <span>User Type</span><br>
                    <p-dropdown #ut [options]="usertypes" class="w-100" formControlName="tusertype"
                    (onChange)="dt.filter(ut.value,'usertype','')"
                        placeholder="Select User Type"></p-dropdown>
                </div>
                <div class="col-md-3">
                    <span>User Status</span><br>
                    <p-dropdown #us [options]="status" class="w-100" formControlName="tuserstatus"
                    (onChange)="dt.filter(us.value,'userstatus','')"
                        placeholder="Select Status"></p-dropdown>
                </div>
                <div class="col-md-3">
                    <span>Branch Name</span><br>
                    <p-dropdown #bn [options]="branches" class="w-100" formControlName="tbranch"
                    (onChange)="dt.filter(bn.value,'branchid','')"
                        placeholder="Select Branch Name"></p-dropdown>
                </div>
                <div class="col-md-3">
                    <span>Created On</span><br>
                    <p-calendar #td placeholder="Select Date" formControlName="tcreateddate"
                        (onSelect)="dt.filter(getFilterFormat(td.value),'createddate','')"
                        [inputStyle]="{'width':'100% !important'}" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3 text-right search-buttons">
                    <button pButton type="submit" icon="pi pi-search" label="Search"
                        class="ui-button-secondary table-header-items"></button>&nbsp;
                    <button pButton type="button" icon="pi pi-refresh" label="Clear" (click)="resetFilterForm()"
                        class="ui-button-secondary table-header-items"></button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-12 error-block animated fadeIn" *ngIf="errorMessage">
        <div class="col-md-12">
            <i class="fa fa-exclamation-circle"></i>
            <b>{{errorMessage}}</b>
        </div>
    </div>
    <div class="col-md-12 success-block animated fadeIn" *ngIf="successMessage">
        <div class="col-md-12">
            <i class="fa fa-check"></i>
            <b>{{successMessage}}</b>
        </div>
    </div>
    <div class="col-md-12 search-box">
        <p-table #dt [columns]="cols" [value]="users" [lazy]="true" dataKey="indexId" [paginator]="true"
            [responsive]="true" [rows]="numberOfPages" (onLazyLoad)="onPageChange($event)" [totalRecords]="totalcount"
            [rowsPerPageOptions]="[10,20,30,40,50]" [reorderableColumns]="true" dataKey="firstname">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn
                        style="width: 20% !important;">
                        <div class="">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" style="float:right"></p-sortIcon>
                        </div>
                    </th>
                    <th style="width:5em"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                <tr>
                    <td *ngFor="let col of columns">
                        <div class="" *ngIf="col.field == 'createddate'">
                            <a class="bold" (click)="viewUser(rowData.id)">{{getFormat(rowData.createddate)}}</a>
                        </div>
                        <div class="" *ngIf="col.field != 'createddate'">
                            <div class="class" *ngIf="col.field != 'userstatus'">
                                <a class="bold" (click)="viewUser(rowData.id)">{{rowData[col.field]}}</a>
                            </div>
                            <div class="class" *ngIf="col.field == 'userstatus'">
                                <div class="" *ngIf="rowData.userstatus == 'AC'">
                                    <button class="btn btn-success">Active</button>
                                </div>
                                <div class="" *ngIf="rowData.userstatus == 'NA'">
                                    <button class="btn btn-danger">Not Active</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <i class="pi pi-pencil" *ngIf="checkPermissions('EDIT')"
                                (click)="editUser(rowData.id)"></i>&nbsp;
                            <i class="pi pi-trash" *ngIf="checkPermissions('DELETE')"
                                (click)="deleteUser(rowData.id)"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!-- pagination div starts from here -->
        <div class="col-md-12">
            <div class="pagecount-dropdown">
                <span class="pagecounting">Items per page</span>
            </div>
            <div class="pagecount">
                <div *ngIf="dt.totalRecords != 0">
                    {{dt.first+1}}-{{((dt.first+dt.rows)>dt.totalRecords)?dt.totalRecords:(dt.first+dt.rows)}} of
                    {{dt.totalRecords}}
                    Items
                </div>
                <div *ngIf="dt == undefined || dt.totalRecords==0">No Items to Display</div>
            </div>
        </div>
        <!-- pagination div ends here -->
    </div>
    <p-dialog header="Delete Confirmation" [transitionOptions]="'500ms'" [baseZIndex]="20000" [(visible)]="display"
        [style]="{width: '30vw'}" [responsive]="true" [draggable]="true" [position]="position">
        <p>Are you sure you want to delete User?</p>
        <p-footer class="btm-buttons">
            <button type="button" pButton icon="pi pi-check" label="Yes" (click)="userRevoke()"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="No"></button>
        </p-footer>
    </p-dialog>