<div class="row">
    <div class="col-md-12 tiles-section">
        <p-carousel [value]="MyTilesArray" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="20000"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-tile pTemplate="item">
                <div class="card {{tile.color}}" (click)="routing(tile)" [ngClass]="tile.name == selectedTileName ? 'bg' : 'nobg'">
                    <div class="card-body">
                        <div style="display: inline-flex;">
                            <i class="fa {{tile.icon}} {{tile.color}}" aria-hidden="true"></i>
                            <div>
                                <h5 class="card-title">{{tile.name}}</h5>
                                <p class="card-text">{{tile.count}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>