<div class="container-fluid">
    <div class="col-md-12 component-header">
        <div class="row">
            <div class="col-md-4">
                <span class="table-header-items">{{pageTitle}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 error-block animated fadeIn" *ngIf="errorMessage">
        <div class="col-md-12">
            <i class="fa fa-exclamation-circle"></i>
            <b>{{errorMessage}}</b>
        </div>
    </div>
    <div class="col-md-12 success-block animated fadeIn" *ngIf="successMessage">
        <div class="col-md-12">
            <i class="fa fa-check"></i>
            <b>{{successMessage}}</b>
        </div>
    </div>

    <form [formGroup]="addQualificationForm" class="col-md-12" (ngSubmit)="addQualificationSubmit()">
        <div class="col-md-12 error-block animated fadeIn" *ngIf="(!addQualificationForm.valid && formSubmitAttempt)">
            <div class="col-md-12">
                <i class="fa fa-exclamation-triangle"></i>
                <b>Please correct the following error(s):</b>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 error-div" *ngIf="((!addQualificationForm.controls['code'].valid && addQualificationForm.controls['code'].touched)|| 
                                (!addQualificationForm.controls['code'].valid && addQualificationForm.controls['code'].untouched && 
                                formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(addQualificationForm.controls['code'].errors?.required)">Enter
                                    "Code"</span>

                            </div>
                            <div class="col-md-3 error-div" *ngIf="((!addQualificationForm.controls['title'].valid && addQualificationForm.controls['title'].touched)|| 
                            (!addQualificationForm.controls['title'].valid && addQualificationForm.controls['title'].untouched && 
                            formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(addQualificationForm.controls['title'].errors?.required)">Enter
                                    "Title"</span>

                            </div>
                            <div class="col-md-3 error-div" *ngIf="((!addQualificationForm.controls['status'].valid && addQualificationForm.controls['status'].touched)|| 
                            (!addQualificationForm.controls['status'].valid && addQualificationForm.controls['status'].untouched && 
                            formSubmitAttempt))">
                                <i class="fa fa-circle"></i>
                                <span *ngIf="(addQualificationForm.controls['status'].errors?.required)">Enter
                                    "Status"</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row search-box search-box-padding form-block">
            <div class="col-md-4">
                <span>
                    Code
                </span><br>
                <input id="input" maxlength="45" class="w-100" [attr.disabled]="isDisabled ? 'disabled': null"
                    formControlName="code" type="text" placeholder="Code" size="30" pInputText [ngClass]="{'error':((!addQualificationForm.controls['code'].valid && addQualificationForm.controls['code'].touched) || 
                    (!addQualificationForm.controls['code'].valid && addQualificationForm.controls['code'].untouched && 
                    formSubmitAttempt)),'required':(isRequired == true )}">
            </div>
            <div class="col-md-4">
                <span>
                    Title
                </span><br>
                <input id="input" maxlength="45" class="w-100" [attr.disabled]="isDisabled ? 'disabled': null"
                    formControlName="title" type="text" placeholder="Title" size="30" pInputText [ngClass]="{'error':((!addQualificationForm.controls['title'].valid && addQualificationForm.controls['title'].touched) || 
                    (!addQualificationForm.controls['title'].valid && addQualificationForm.controls['title'].untouched && 
                    formSubmitAttempt)),'required':(isRequired == true )}">
            </div>
            <div class="col-md-4">
                <span>Status</span><br>
                <p-dropdown [options]="status" filter="true" formControlName="status" [disabled]="isDisabled"
                    placeholder="Select Status" [ngClass]="{'error':((!addQualificationForm.controls['status'].valid &&
                    addQualificationForm.controls['status'].touched) || 
                (!addQualificationForm.controls['status'].valid && addQualificationForm.controls['status'].untouched && formSubmitAttempt)),
                'required':(isRequired == true )}">
                </p-dropdown>
            </div>           
            <br>
            <br>
            <br>
            <div class="col-md-4  required-block">
                <span class="required" *ngIf="this.formType == 'create' || this.formType == 'edit'">
                    <span class="requirednote">Required</span>
                </span>
            </div>
            <div class="col-md-8 text-right">
                <button pButton type="button" icon="pi pi-check" label="Edit" *ngIf="isDisabled"
                    (click)="editControls()" class="ui-button-secondary table-header-items"></button>&nbsp;
                <button pButton type="submit" icon="pi pi-check" label="Submit" *ngIf="!isDisabled"
                    class="ui-button-secondary table-header-items"></button>&nbsp;
                <button pButton type="button" icon="pi pi-refresh" label="Clear" *ngIf="!isDisabled"
                    (click)="resetForm()" class="ui-button-secondary table-header-items"></button>&nbsp;
                <button pButton type="button" icon="pi pi-times" label="Cancel" (click)="list()"
                    class="ui-button-secondary table-header-items"></button>
            </div>
        </div>
    </form>
</div>